html, body{
	max-width: 100%;
	overflow-x: hidden;
}
.float_right{
	float: right !important;
}
.float_left{
	float: left !important;
}
.signup_page, .full_height{
	height: 100vh;
}
.sign_fields{
	padding-top: 10px !important;
}
.logo{
	padding-left: 10.5px;
	font-size: 30px;
	color:#000;
}
.card_title{
	font-size: 16px;
	font-weight: bold;
}
.white{
	background-color: #fff !important;
	color: #000 !important;
}
.white i{
	color: #000 !important;
}
.bg_white{
	background-color: #fff;
	color: #000;
}
.bg_white a{
	color: #000;
}
.button_line, .button_line_border{
	background: transparent;
	padding:10px;
	text-transform: uppercase;
	font-size: 16px;
}
.button_line_border{
	border: 1px solid #ccc;
}

.button_line i{
	font-size: 16px;
}
button:focus{
	background-color: #ccc;
}
.home_title{
	padding-top: 150px;
}
.home_title h2, .home_title h6{
	text-shadow: 2px 2px 2px#000;
}
.padding{
	padding-top: 50px;
}

.indicators{
	top: 420px;
}
.product_title h4{
	margin: 0px;
}
.product_title{
	height: 70px;
}
span.off{
	float: left !important;
	margin-left: 0px;
}

.buy_buttons, .checkout_proceed{
	width: 100%;
	bottom: 0;
	position: fixed;
	display: flex;
}
.add_to_cart, .buy_now{
	width: 50%;
	display: inline-block;
	background-color: #fff;
	padding: 0px;
	margin:0px;
	padding: 20px 5px 20px;
}

.buy_now{
	background-color: #f57d21;
}

.boxes{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cart_action{
	font-size: 13px;
	padding-top:0px; !important;
	height: 30px;
}

.cart_action button{
	color: #999999;
	padding-left: 0px;
}

.cart_action i{
	font-size: 20px;
	color: #999999;
}

.cart_actions{
	padding: 0px;
    margin: 0px;
}

.details, .checkout{
	display: inline-block;
	padding: 0px;
	margin:0px;
	padding: 7px 5px 7px;
}

.details{
	width: 60%;
	background-color: #fff;
}
.checkout{
	width: 40%;
	background-color: #f57d21;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.details_price{
	text-align: left;
}
.total .col{
	font-weight: bold;
}
.detail{
	margin-bottom: 5px !important;
}
.total{
	padding-top: 10px;
}

.change_address .col button{
	color: #999999;
	padding-left: 0px;
}

.block_converter{
	display: flex;
  align-items: center;
  justify-content: center;
}
.status{
	height: 300px;
}

.sucess, .sucess button{
	background: #00c853;
	color:#fff;
}

.failed, .failed button{
	background: #e64a19;
	color:#fff;
}
